.buscador{
    box-shadow: 0px 0px 6px 2px rgba(65, 65, 65, 0.288);
    border-color: rgb(192, 10, 80);
    border-radius: 10px;
    color: rgb(192, 10, 80);
}

.fondoamarillo{
    background-color: rgb(244, 177, 54);
    box-shadow: 0px 0px 6px 2px rgba(65, 65, 65, 0.144);
    border-color: rgb(244, 177, 54);
    border-radius: 10px;
    height: 50px;
    color: white;

}
.fondovioleta{
    background-color: rgb(192, 10, 80);
    border-radius: 10px; 
    color: white;
}
.fondo{
    background-color: white;
    color: rgb(244, 177, 54);
}


/* BARRA DE TITULOS DE LA LISTA  */
.titulos{ 
    
    vertical-align:middle;
    border-radius: 5px;
    background-color:  rgb(248, 105, 14); 
    border: none;
    color: white;
    height: 50px;
}



/* LISTA LOS HORARIOS DISPONIBLE */
.sombra{
    box-shadow: 0px 0px 6px 2px rgba(65, 65, 65, 0.288);
}



/* Seleccionar las sillas */
.consultar{
    background-color: rgb(192, 10, 80);
    border-radius: 10px; 
    color: white;
}
.bus{
    height:300px ;
    background-image: url(./imagenes/BUS2.png);
    background-repeat: no-repeat;
    background-size: 720px auto;
}
.a{
    position: relative;
    
}
@media (min-width: 990px) and (max-width: 1200px) {
    .a{
        max-height: 268px;
    }
}
@media   (min-width: 768px)  and (max-width: 990px)  {
    .a{
        max-height: 195px;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .a{
        max-height: 322px;
    }
}
@media (min-width: 1400px) and (max-width: 1800px) {
    .a{
        max-height: 377px;
    }
}
@media (min-width: 1800px) and (max-width: 2000px) {
    .a{
        max-height: 377px;
    }
}
.b1{
    
    position: absolute;
    top: 5%;
    left: 25%;
    right: 10%;
    
}
.b2{
    
    position: absolute;
    top: 20%;
    left: 25%;
    right: 10%;
    
}
.b3{
    
    position: absolute;
    bottom: 20%;
    left: 25%;
    right: 10%;
    
}
.b4{
    
    position: absolute;
    bottom: 5%;
    left: 25%;
    right: 10%;
    
}
.t{
    overflow: hidden;
}
.tabla{
    box-shadow: 0px 0px 6px 2px rgba(65, 65, 65, 0.288);
    border-radius: 10px;
    border-color: rgb(192, 10, 80); 
}

.transparente{
    background-color: rgba(255, 255, 255, 0);
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
   padding: 0px;
}

/* .content::-webkit-scrollbar { 

 display: none;
} */